
body {
    /* background-color: #fff; */
    font-family: 'Open Sans';
    font-style: normal;
    --header-text-color:#fff;
    --title-text-color: #303030;
    --p-text-color:#555555;
    --inform-text-color: #9DA4BD;
    --focus-color: #FF6C00;
    --our-barbers-footer-bg-color:#F7F7F7;
}
a, ul {
    list-style: none;
    text-decoration:none;
}
.link, .list {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
.container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px; 
   padding-right: 15px;
   width: 1170px;
}
.header {
    background-color: aqua;
}
.head {
    display: flex;
 align-items: center;
    
}
.nav {
    display: flex;
    gap: 40px;
}
.click {
    
    color: var(--header-text-color);
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
}
/* .nav .click +.click {
    margin-left: 0;
} */
.click:hover,
.click:focus {
    color:var(--focus-color);
}
.ph {
display: flex;
align-items: center;
/* margin-right: 254px; */
}
.phone {
    display: flex;
    align-items: center;
/* margin-right: 254px; */
    text-transform: uppercase;
}
.booking {
display: flex;
margin-left: auto;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 25px;
    box-sizing: border-box;
    border: 1px solid #FF6C00;
    background: transparent;
}
/* ♣ */
.instagram {
   
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: var(--title-text-color);

    transform: rotate(-90deg);
}
.youtube {
   
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: var(--title-text-color);

    transform: rotate(-90deg);
}
.foc:hover,
.foc:focus {
    color:var(--focus-color);
}

.barbers {
    animation: shakeX 2000ms infinite;
}
.contacts {
    animation: fadeIn 2000ms infinite;
}

/* 
@keyframes first-animation {
    0% {
        transform: translate(0, 0);
        color: white;
    }

    25% {
        transform: translate(50px, 0px);
        color: red;
    }

    50% {
        transform: translate(50px, 50px);
        color: aqua;
    }

    75% {
        transform: translate(0, 50px);
        color: green;
    }

    100% {
        transform: translate(0px, 0px);
        color: white;
    }
}

.current {
    animation: first-animation 4000ms linear infinite;
}

.anim1 {
    animation: fadeIn 2000ms infinite;
}

.anim2 {
    animation: bounce 2000ms infinite;
}

.anim3 {
    animation: shakeX 2000ms infinite;
}

.anim4 {
    animation: jello 2000ms infinite;
} */